.abbildung {
    width: 597px;
}

body {
    color:white;
    font-family: Tahoma, serif;
}

h1 { font-size:48px; }
h2 { font-size:24px; }
h3 { font-size:18px; }
ul { font-size:16px; }
a { color:whitesmoke}
